@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 960px) {
	/*#banner-row {
		max-height: 200px;
		height: 200px;
	}

	#banner-image{
		max-height: 200px;
	}

	#banner-image img{
		/*max-height: 200px;
	}*/
	
	#header-container{
		width: 90%;
		margin: 0 auto;
		max-width: 1200px;
	}

}

@media screen and (max-width: 890px) {

	#banner-row{
		height: 150px;
		max-height: 150px;
	}

	#banner{
		width: 100%;
	}

	#banner-image{
		max-height: 150px;
	}

	#banner-image img{
		/*max-height: 150px;*/
	}

	.menu-main-container > ul:first-of-type > li > a {
		font-size: 20px;
	}

	.title{
		font-size: 40px;
		margin-top: 50px;
	}

	.sidebar-box{
		font-size: 15px;
		padding: 5px 10px 5px 10px;
	}

	.sidebar-box h2{
		margin: 10px 0 10px 5px;
	}

	.sidebar-box p{
		margin: 10px 0;
	}

	.sidebar-text{
		margin-top: 0;
	}

	.req-info{
		background-position: 5px;
	}

}

@media screen and (max-width: 820px) {
	#header-container {
		width: 90%;
	}
}

@media screen and (max-width: 730px) {
	#main-nav{
		float: none;
		display: none;
	}

	#resp-nav{
		display: block;
		width: 85%;
		margin: -10px auto;
	}

	#nav{
		display: none;
	}

	.left-side{
		width: 100%;
		float: none;
	}

	.right-side{
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 650px) {
	#primary {
		width: 100%;
	}

	#main-content {
		padding: 20px 20px 20px 20px;
		float: none;
	}

	#secondary{
		display: none;
	}

	#banner-text{
		width: 40%;
		float: left;
	}

	#banner-image{
		width: 60%;
	}
}

@media screen and (max-width: 540px) {
	#banner {
		background-position: 30px;
		overflow: hidden;
	}
	#banner-row {
		height: 90px;
		max-height: 90px;
	}

	#banner-text{
		width: 80%;
		text-align: left;
		margin-left: 20px;
	}

	#banner-image{
		width: 0%;
		display: none;
	}
}